/* font */
*{
    font-family:Arial, Helvetica,'微軟正黑體',sans-serif;
}
.pc-title{
   font-size: 48px; 
   font-weight: 500;
   line-height: 72px;
   color:rgba(0,0,0,0.7);
   text-align: left;
}
.pc-content-titile{
   font-size: 28px; 
   font-weight: 500;
   line-height: 42px;
   color:rgba(0,0,0,0.7);
   text-align: left;
}
.pc-content{
   font-size: 18px; 
   font-weight: 400;
   line-height: 32px;
   color:rgba(0,0,0,0.6);
   text-align: left;
   margin: auto;
}
.pc-content-center{
    font-size: 18px; 
    font-weight: 400;
    line-height: 27px;
    color:rgba(0,0,0,0.6);
    text-align: center;
    margin: 4px 0;
}
.text-space{
    margin-top: 8px;
}
/* header */
nav{
    top: 0px;
    height: 96px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color:#ffffff;
    z-index: 4;
}
.logo{
    margin: 0 333px 0 auto;
    background-color: #f0f0f0;
    background-image: url();
    display: inline-block;
    background-repeat: no-repeat;
    height:96px;
    width: 96px;
}
nav > ul{
    list-style: none;
    height: 96px;
    margin: 0;
    background-color: #ffffff;
    justify-content: space-evenly;
}
nav a:hover{
    color:#9BAC64 ;
    transition: 0.5 ease-in-out;
}
nav a{
    font-size:20px;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}
ul li{
    padding: 4px,0,0,0;
    margin: 32px 16px;
}
nav ul li ul{
    display: none;
    list-style: none;
    height: auto;
    width: auto;
    /* 寬高 auto 隨下面 li 定義 */
    padding-bottom: 24px;
    border-radius: 4px;
    background-color:rgba(255,255,255,0.96);
}
ul li ul li{
    /* border-bottom: 1px solid rgba(0,0,0,0.2); */
    padding:0 16px;
    margin: 32px 0 -8px 0;
    white-space: nowrap;
    /* 禁止文字換行 */
}
nav ul li:hover ul{
    display:block;
    position: absolute;
}
nav ul li:hover ul li a{
    display:block;
    font-size:18px;
    font-weight: 400;
    color: inherit;
    /* inherit 字體顏色會恢復為原本為點擊前的 */
    text-decoration: none;
}
nav ul li:hover ul li a:hover{
    color:#9BAC64 ;
    transition: 0.5 ease-in-out;
}
.flex-nav{
    margin: 0 auto 0 333px;
    display: flex;
}
/*  沒有下拉選單的
    nav{
    top: 0px;
    height: 96px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color:#ffffff;
    z-index: 4;
}
.logo{
    margin: 0 333px 0 auto;
    background-color: #f0f0f0;
    background-image: url();
    display: inline-block;
    background-repeat: no-repeat;
    height:96px;
    width: 96px;
}
nav > ul{
    list-style: none;
    height: 96px;
    margin: 0;
    background-color: #ffffff;
    justify-content: space-evenly;
}
nav a:hover{
    color:#9BAC64 ;
    transition: 0.5 ease-in-out;
}
nav a{
    font-size:20px;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}
li{
    padding: 4px,0,0,0;
    margin: 32px 16px;
}
.flex-nav{
    margin: 0 auto 0 333px;
    display: flex;
} */
/* main-banner */
.banner-index{
    margin-top: 96px;
    max-width:100%;
    height: 464px;
    overflow: hidden;
    background-size: cover;
    box-sizing: border-box;
    background-image: url(../img/banner-index.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: center; 讓圖片置中，左右裁切 */
}
.banner-ga-landingpage{
    margin-top: 96px;
    max-width:100%;
    height: 512px;
    overflow: hidden;
    background-size: cover;
    box-sizing: border-box;
    background-image: url(../img/banner-ga-landingpage.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}
/* jp-app */
/* section banner */
.banner-box{
    height: 512px;
    width: auto;
    position: relative;
    z-index: 2;
}
.banner-jp-app{
    margin-top: 96px;
    max-width:100%;
    height: 512px;
    overflow: hidden;
    background-size: cover;
    box-sizing: border-box;
    background-image: url(../img/banner-jp-app.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}
.img-animation{
    width: 337px;
    height: 289px;
    position:absolute;
    bottom: 0px;
    right: 112px;
    z-index: 3;
    animation: updown 2s infinite;
    -webkit-animation: updown 2s infinite;
    transition-delay: 0.5s;
}
@keyframes updown{
0%{
    bottom: 0px;
}
50%{
    bottom: 24px;
}
100%{
    bottom: 0px;
}
}
@-webkit-keyframes updown{
    0%{
        bottom: 0px;
    }
    50%{
        bottom: 24px;
    }
    100%{
        bottom: 0px;
    }
}
 

/* section-index*/
.work-section{
    height: 1120px;
    width: 1000px;
    margin: auto;
    background-color: #ffffff;
    padding: 56px 0;
}
.title-row{
    width: 1000px;
    height: 72px;
}
.flex-row{
    width: 1000px;
    display: flex;
    margin: 40px 0;
}
/* .item :not(:hover){...} mouseout */
.item :not(:hover){
    height: 400px;
    width: 560px;
    background-color: #ffffff;
    margin:0 48px 0 0;
    transition: 0.3s ease-in-out;
}
/* .item a:hover{...} mouseover */
.item a:hover .work-banner{
    height: 400px;
    width: 560px;
    background-color: #ffffff;
    margin:0 48px 0 0;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}
.item-right :not(:hover){
    height: 400px;
    width: 560px;
    background-color: #ffffff;
    margin:0;
    transition: 0.3s ease-in-out;
}
.item-right a:hover .work-banner{
    height: 400px;
    width: 560px;
    background-color: #ffffff;
    margin:0;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}
.work-banner{
    height: 400px;
    width: 560px;
    background-color: #ffffff;
}
.info{
    width: 392px;
    background-color: #ffffff;
    align-items: center;
    margin-top: 56px;
}
.info-left{
    width: 392px;
    background-color: #ffffff;
    align-items: center;
    margin:56px 48px 0 0;
}
/* footer */
.footer{
    width: 100%;
    height: 160px;
    padding: 40px auto;
    background-color: #ffffff;
}

