*{
    font-family:Arial, Helvetica, sans-serif;
}
.title{
   font-size: 24px; 
   font-weight: 700;
   line-height: 1.6%;
   color: #aaaaaa;
}
.p-h3{
   font-size: 18px; 
   font-weight: 500;
   line-height: 1.6%;
   color: #aaaaaa;
   text-align: center;
}
nav > ul{
    list-style: none;
    height: 96px;
    margin: 0;
    background-color: #ffffff;
    justify-content: space-evenly;
}
nav a:hover{
    color:#9BAC64 ;
}
nav a{
    font-size:20px;
    color: inherit;
    text-decoration: none;
}
.flex-nav{
    margin: auto;
    display: flex;
}
li{
    padding: 12px 0 0 0;
    margin: 32px 16px;
}
img{
    margin: auto;
    display: block;
}
.logo{
    background-color: #f0f0f0;
    height:96px;
    width: 96px;
}
.work_section{
    height: 504px;
    margin: auto;
    background-color: ivory;
    padding: 72px 10%;
}
.flex-row{
    position: absolute;
    width: 960;
    display: flex;
    margin: 40px auto;
    /* justify-content: space-between; */
}
.flex-row a:hover{
    color:#9BAC64 ;
}
.flex-row a{
    color: inherit;
}
.item{
    height: 256px;
    width: 256px;
    background-color: #ffffff;
    margin:0 24px 0;
}
.work-banner{
    height: 200px;
    width: 256px;
    background-color: #f0f0f0;
}
.content-box{
    height: 56px;
    width: 256px;
    background-color: #ffffff;
    align-items: center;
}
.category{
    font-size: 24px;
    color: gray;
    line-height: 56px;
    padding: 0 0 0 16px;
}
.content{
    margin: auto;
    height: 480px;
    background-color: #ffffff;
}
footer{
    margin: auto;
    height: 120px;
    background-color: #ffffff;
}

